/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  height:100%;
}
.footer {
    
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.position-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}
.gorizontal-center {
    margin:0 auto;
}
.height {
    height: 620px;
}
.height2 {
    height: 590px;
}
.small-space-top {
    margin-top:30px;
}
.medium-space-bottom {
    margin-bottom:70px;
}
.space-top-bottom {
    margin-top: 70px;
    margin-bottom: 70px;
}
.big-space-top-bottom {
    margin-top: 90px;
    margin-bottom: 90px;
}
.header-label {
    font-size: 30px;
    text-decoration: none;
    margin-bottom: 0;
    padding-left: 75px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
.button {
    border: 1px solid #d4d4d4 ;
    width: 95px;
    height: 95px;
    background-color: white;
    outline: none;
    opacity: 1;
    font-size:30px;
    font-family:Arial, Helvetica, sans-serif;
}

.button2 {
    border: 1px solid #d4d4d4;
    width: 250px;
    height: 60px;
    background-color: white;
    outline: none;
    opacity: 1;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.button3 {
    border: 1px solid #d4d4d4;
    width: 350px;
    height: 90px;
    background-color: white;
    outline: none;
    opacity: 1;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.fade:hover {
    background-color: #dff0df;
    box-shadow: inset 0 0 0 2px #5cdb5c;
    
}
.fade2:hover {
    background-color: #f2d0ce;
    box-shadow: inset 0 0 0 2px #db675e;
}
.label {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 15px;
    padding: 0 70px;
}
.label1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-top: 15px;
    text-align: center;
}
.label2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align:center;
}
.info-label {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin: 137px 0;
    text-align: center;
}
.info-label2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    margin: 85px 0;
    text-align: center;
}
input:focus {
    outline: none;
    border: 1px solid #49b349;
    -webkit-box-shadow: 0px 0px 7px #5cdb5c;
    box-shadow: 0px 0px 7px #5cdb5c;
}
.input1 {
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
    height: 55px;
    margin: 20px auto 50px auto;
    font-size: 33px;
    text-align: center;
}
.input2 {
    font-family: Arial, Helvetica, sans-serif;
    width: 450px;
    height: 55px;
    margin: 20px auto 50px auto;
    font-size: 40px;
    text-align: center;
}
#div-button {
    display: flex;
    justify-content: center;
}

.center {
    text-align:center;
    margin-top:260px;
    margin-bottom:408px;
}