@{ 
    ViewData["Title"] = "Operations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="position-center">
        <button class="button3 fade small-space-top balance">Баланс</button>
 
        <button class="button3 fade small-space-top withdrawal">Снять сумму</button>
 
    <form asp-action="StartPage">
        <button class="button2 fade2 big-space-top-bottom">Выход</button>
    </form>
</div>